.homeServices_wrapper {
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 90px;
  /* border: 3px solid red; */
}

.section_heading {
  margin-bottom: 20px;
}

.home-services-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 223, 223);
  /* background: #8080801c; */
  /* border: 3px solid green; */
}

.center {
  text-align: center;
}

.home-services1 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  perspective: 1000px;
  /* border: 3px solid black; */
}

.home-services2 {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  perspective: 1000px;
  /* border: 3px solid black; */
}

.link {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateZ(30px);
}

.serviceImg {
  width: 15rem;
  height: 10rem;
  margin-bottom: 10px;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 5px;
}

.serviceImg:hover {
  border-bottom: 1px solid var(--purple);
}

@media (min-width: 320px) and (max-width: 500px) {
  .home-services1,
  .home-services2 {
    flex-direction: column;
  }

  .homeServices_wrapper {
    width: 75%;
  }
  .home-services-container {
    width: 100%;
  }
}
